<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <nav>
        <ul class="bg-green-500 flex gap-10">
            <li>
                <a href="{% url 'home' %}">Home</a>
            </li>
            <li>
                <a href="{% url 'regi' %}">Register</a>
            </li>
            <li>
                <a href="{% url 'login' %}">Login</a>
            </li>
        </ul>
    </nav>
    {% block content %}
    {% endblock content %}
</body>
</html>